body{
    background-color: #0f0f0f;
    color: #282828;
}
.container{
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 2rem;
    background-color: #ffffff;
}
strong{
    color: #3791bd;
}
h1{
    text-align: center;
    font-size: 3.4rem;
    font-weight: 300;
}
input{
    display: block;
    width: 99.5%;
    border: 1px solid #dedede;
    font-size: 2rem;
}
label{
    font-size: 1.4rem;
    color: #717171;
}
.form-space{
    padding: 1rem 0;
}
.hero{
    padding: 2rem;
}
.btn{
    color: #c1e2ed;
    background-color: #348cbb;
    width: 100%;
    padding: .6rem;
    text-align: center;
    font-size: 1.6rem;
    border: none;
    border-radius: 10px;
}
.list-section{
    padding: 2rem;
}
table{
    table-layout: fixed;
    text-align: left;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 2rem;
}
.heading{
    border: 2px solid #dee2e6;
    border-bottom: 4px solid #dee2e6;
    border-left:none ;
    border-right:none ;
    font-size: 1.6rem;
    padding: 0;
}
.rows{
    background-color: #f2f2f2;
}

td{
    padding: 1.4rem 0;
    color: #222222;
    font-size: 1.4rem;
    /* width: 33%; */
}
.red{
    background-color: #ed4033;
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-left: 10rem ;
    padding: .6rem ;
}